<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Desafio-Dimensa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8176A28E29318D1500B52C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8176A2A429318D1700B52C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8176A2AE29318D1700B52C15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
